fastapi 
uvicorn 
sqlalchemy 
passlib[bcrypt] 
python-jose[cryptography]
python-jose
jinja2
python-multipart
PyMuPDF
pillow
tiktoken
azure-identity 
azure-mgmt-resource
azure-storage-blob
azure-mgmt-storage
azure-mgmt-appcontainers
python-dotenv
azure-mgmt-loganalytics
azure-mgmt-containerregistry
azure-mgmt-msi
azure-mgmt-cognitiveservices
azure.mgmt.authorization
